@font-face {
    font-family: 'Inter-Bold' ;
    src: url('../fonts/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-Bold' ;
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Inter-Regular' ;
    src: url('../fonts/Inter_18pt-Regular.ttf');
}
:root{
    --bg:#6d6a6a
}

.login-container{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-view{
    width: 30%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    padding:22px;
}

.text{
    font-family: 'Inter-Regular';
    font-size: 13;
    margin-top: 9px;
    color:#000
}

.form-input{
    width: 100%;
    height: 40px;
    border-radius:10px;
    border: 1px solid #1d1d1d;
    background-color:#fff;
    font-family: 'Inter-Regular';
    font-size: 13px;
    padding: 9px;
    margin-top: 18px;
    color:#000
}



.form-input2{
    width: 100%;
    height: 40px;
    border-radius:10px;
    border: 1px solid #1d1d1d;
    background-color:#fff;
    font-family: 'Inter-Regular';
    font-size: 13px;
    color:#000;
    margin-top: 10px;
}

.form-input-x{
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter-Regular';
    font-size: 13px;
    padding: 9px;
    color:#000
}

.input-group{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.btn-transparent{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.title{
    font-family: 'Inter-Bold';
    font-size: 23px;
    margin-top: 9px;
    color:#000
}

.login-btn{
    width: 100%;
    height: 50px;
    border-radius:10px;
    border: 1px solid #1d1d1d;
    background-color:#1d1d1d;
    font-family: 'Inter-Regular';
    font-size: 17px;
    margin-top: 18px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(350deg);
    }
}
.animated-loader{
    animation: 1s loader linear infinite ;
}